header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}
section {
	background-color: #FFE2B8;
	padding: 20px;
	border: 1px black solid;
}
aside { 
	border: 1px black solid;
	padding: 20px;
	background-color: #FFC675;
	text-align: center;
}
article {
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	background-color: #E89C6C 
}
footer {
	border: 1px black solid;
	text-align: center;
	background-color: #FF957E;
	padding: 20px;

}
div{
	background-color: #FFE2B8;
	padding: 20px;
	border: 1px black solid;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 0px;
    float: left;
    width: 32%;
    padding: 20px;

}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 0px;
    float: right;
    width: 62%;
    padding: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 1522){
	#left{
		float: none;
		width: 95%;
	}
	#right{
		float:none;
		width: 95%;
	}
}

@media only screen and (max-width: 650){
	#left{
		float: none;
		width: 85%;
	}
	#right{
		float:none;
		width: 85%;
	}
}

@media only screen and (max-width: 300){
	#left{
		float: none;
		width: 85%;
	}
	#right{
		float:none;
		width: 85%;
	}
}